@import url(../../styles/common.css);

@import url(../../components/Header/header.css);
@import url(../../components/Footer/footer.css);
@import url(../../components/TopPanda/topPanda.css);
@import url(../../components/PickAndFeedAFriend/pickAndFeedAFriend.css);

.pick-and-feed-a-friend {
  padding-top: 2.5rem;
  padding-bottom: 11.25rem;
}

.pick-and-feed-a-friend-content-title {
  grid-gap: 1.5625rem;
}

@media screen and (max-width: 1199px) { 
  .pick-and-feed-a-friend {
    padding-bottom: 1.875rem;
  }

  .pick-and-feed-a-friend-content-wrapper {
    padding-top: 1.25rem;
  }

  .pick-and-feed-a-friend-content-title {
    grid-gap: 0.9375rem;
  }
}

@media screen and (max-width: 767px) {
  .pick-and-feed-a-friend {
    padding-top: 1.875rem;
    padding-bottom: 2.875rem;
  }

  .pick-and-feed-a-friend-content-wrapper {
    padding-top: 1.875rem;  
  }

  .pick-and-feed-a-friend-content-title {
    gap: 1.5625rem;
  }

  .pick-and-feed-a-friend-content-title h2 {
    font-size: 3rem;
  }

  .pick-and-feed-a-friend-content-title p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  .pick-and-feed-a-friend {
    padding-bottom: 1.125rem;
  }

  .pick-and-feed-a-friend-content-wrapper{
    padding-top: 1.25rem;
    padding-bottom: 1.625rem;
  }

  .pick-and-feed-a-friend-content-title {
    gap: 1rem;
  }

  .pick-and-feed-a-friend-content-title h2 {
    font-size: 1.5rem;
  }

  .pick-and-feed-a-friend-content-title p {
    font-size: 1rem;
  }
}