
fieldset.pick-and-feed-a-friend-form-amount-range-wrapper {
  width: 100%;
  margin-bottom: 4.375rem;
}

fieldset.pick-and-feed-a-friend-form-amount-range-wrapper legend {
  margin-bottom: 1.0625rem;
}

.pick-and-feed-a-friend-form-amount-range {
  background: #404950;
  border-radius: 0.125rem;
  padding: 0.5rem 1.875rem 0.5625rem 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pick-and-feed-a-friend-form-amount-range::after {
  content: "";
  width: calc(100% - 1.875rem - 1.625rem);
  height: 0.125rem;
  background: #72828E;
  position: absolute;
}

.pick-and-feed-a-friend-form-amount-range label {
  cursor: pointer;
  z-index: 1;
}

.pick-and-feed-a-friend-form-amount-range input {
  display: none;
}

.pick-and-feed-a-friend-form-amount-range .circle {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--yellow);
  border-radius: 50%;
  position: relative;
}

.pick-and-feed-a-friend-form-amount-range .amount {
  position: absolute;
  top: 2.1875rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  font-size: 1.625rem;
}

.pick-and-feed-a-friend-form-amount-range label:hover .amount,
.pick-and-feed-a-friend-form-amount-range input:checked ~ .amount {
  color: var(--orrange);
}

.pick-and-feed-a-friend-form-amount-range .amount::before {
  content: '';
  
  width: 0.625rem;
  height: 1.25rem;
}

.pick-and-feed-a-friend-form-amount-range .amount.type-US::before {
  background-image: url(/online-zoo/icons/dollar-black.png);

  background-size: cover;
}

.pick-and-feed-a-friend-form-amount-range label:hover .amount.type-US::before,
.pick-and-feed-a-friend-form-amount-range input:checked ~ .amount.type-US::before {
  background-image: url(/online-zoo/icons/dollar-orrange.png);
}

.pick-and-feed-a-friend-form-amount-range input:checked ~ .circle::before,
.pick-and-feed-a-friend-form-amount-range input:checked ~ .circle::after {
  content: '';
  
  display: block;
  box-sizing: border-box;
  
  border-radius: 50%;
  border: 0.125rem solid var(--orrange);

  animation: 1s infinite progressBarCirclePulse alternate;
}

.pick-and-feed-a-friend-form-amount-range input:checked ~ .circle::before {
  width: 1.375rem;
  height: 1.375rem;

  position: absolute;
  left: -0.375rem;
  top: -0.375rem;
}

.pick-and-feed-a-friend-form-amount-range input:checked ~ .circle::after {
  width: 2.5rem;
  height: 2.5rem;

  position: absolute;
  left: -0.9375rem;
  top: -0.9375rem;
}

@keyframes progressBarCirclePulse {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1.2);
  }
}


@media screen and (max-width: 1199px) {
  fieldset.pick-and-feed-a-friend-form-amount-range-wrapper {
    max-width: 50.625rem;
    
    margin-bottom: 4.8125rem;
  }

  .pick-and-feed-a-friend-form-amount-range {
    padding: 0.5rem 0.6875rem;
  }

  .pick-and-feed-a-friend-form-amount-range::after {
    width: calc(100% - (2 * 0.6875rem));
  }

  .pick-and-feed-a-friend-form-amount-range .amount {
    font-size: 1.625rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(1) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(2) .amount {
    left: 1.375rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(3) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(4) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(5) .amount {
    left: 0.8125rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(6) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(7) .amount {
    left: 0.375rem;
  }
}

@media screen and (max-width: 767px) {
  fieldset.pick-and-feed-a-friend-form-amount-range-wrapper {
    margin-bottom: 4.25rem;
  }

  .pick-and-feed-a-friend-form-amount-range {
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    padding: 0.5rem 2.1875rem;
  }

  .pick-and-feed-a-friend-form-amount-range::after {
    width: calc(100% - (2 * 2.1875rem));
  }

  fieldset.pick-and-feed-a-friend-form-amount-range-wrapper legend {
    margin-bottom: 0.625rem;
  }

  .pick-and-feed-a-friend-form-amount-range .amount {
    top: 1.9375rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(1) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(2) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(3) .amount {
    left: 0.3125rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(4) .amount,
  .pick-and-feed-a-friend-form-amount-range label:nth-child(5) .amount {
    left: -0.125rem;
  }
}

@media screen and (max-width: 639px) {
  .pick-and-feed-a-friend-form-amount-range {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  fieldset.pick-and-feed-a-friend-form-amount-range-wrapper {
    margin-bottom: 1.5rem;
  }

  .pick-and-feed-a-friend-form-amount-range {
    padding: 0.265625rem 1.125rem;
  }

  .pick-and-feed-a-friend-form-amount-range::after {
    width: calc(100% - (2 * 1.125rem));
  }

  .pick-and-feed-a-friend-form-amount-range .circle {
    width: 0.3125rem;
    height: 0.3125rem;
  }

  .pick-and-feed-a-friend-form-amount-range .amount {
    font-size: 0.8125rem;

    top: 1.0625rem;
  }

  .pick-and-feed-a-friend-form-amount-range .amount::before {
    width: 0.3125rem;
    height: 0.625rem;
  }

  .pick-and-feed-a-friend-form-amount-range label:nth-child(1) .amount, 
  .pick-and-feed-a-friend-form-amount-range label:nth-child(2) .amount, 
  .pick-and-feed-a-friend-form-amount-range label:nth-child(3) .amount {
    left: 0.125rem;
  }
}
