
input.testimonials-scroll {
  width: 37.4375rem;
  max-width: 100%;
  height: 0.5rem;

  background-color: var(--grayLight);
  border-radius: 0.3125rem;
  
  -webkit-appearance: none;

  overflow: hidden;

  border: double 0.03125rem transparent;
  background-image: linear-gradient(var(--grayLight), var(--grayLight)), var(--pinkGradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input.testimonials-scroll::-webkit-slider-thumb {
  width: 12.5%;
  height: 0.375rem;

  border-radius: 0.3125rem;

  -webkit-appearance: none;  
  
  cursor: ew-resize;
  background: var(--orrange);
}

input.testimonials-scroll::-webkit-slider-thumb:hover {
  background: var(--orrangeDark);
}

input.testimonials-scroll::-moz-range-track {
  width: 37.4375rem;
  max-width: 100%;
  height: 0.5rem;

  background-color: var(--grayLight);
  border-radius: 0.3125rem;
  
  -webkit-appearance: none;

  overflow: hidden;

  border: double 0.03125rem transparent;
  background-image: linear-gradient(var(--grayLight), var(--grayLight)), var(--pinkGradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input.testimonials-scroll::-moz-range-progress {
  width: 12.5%;
  height: 0.375rem;

  border-radius: 0.3125rem;

  -webkit-appearance: none;  
  
  cursor: ew-resize;
  background: var(--orrange);
}

input.testimonials-scroll::-moz-range-progress:hover {
  background: var(--orrangeDark);
}

@media screen and (max-width: 1199px) {
  input.testimonials-scroll {
    width: 24.375rem;
  }

  input.testimonials-scroll::-moz-range-track {
    width: 24.375rem;
  }
}