@import url(./Card/card.css);

.how-it-work-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-gap: 8.125rem;
}

@media screen and (max-width: 1199px) {
  .how-it-work-cards {
    margin-top: -0.1875rem
  }
}

@media screen and (max-width: 991px) {
  .how-it-work-cards {
    grid-gap: 2.625rem;
  }
}

@media screen and (max-width: 639px) {
  .how-it-work-cards {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .how-it-work-cards {
    grid-gap: 1.4375rem;
  }
}