@import url(./components/Content/content.css);

.top-panda {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-panda.with-content {
  background-image: url(/online-zoo/images/sectionPanda/giantPanda.jpg);

  margin-top: calc(-1 * var(--headerHeight));
    
  padding-top: calc(5.375rem + var(--headerHeight));
  padding-bottom: 6.25rem;
}

.top-panda.without-content {
  background-image: url(/online-zoo/images/sectionPanda/giantPanda-no-content.jpg);
  
  min-height: 24.375rem;
}

@media screen and (max-width: 1199px) {
  .top-panda.with-content {
    padding-top: calc(2.75rem + var(--headerHeight));
    padding-bottom: 2.9375rem;
  }

  .top-panda.without-content {
    background-position-x: -10.625rem;
  }
}

@media screen and (max-width: 767px) {
  .top-panda.with-content {
    padding-top: calc(3.125rem + var(--headerHeight));
    padding-bottom: 2.5rem;
  }

  .top-panda.without-content {
    min-height: 20.9375rem;

    background-position-x: -17rem;
  }
}  

@media screen and (max-width: 575px) {
  .top-panda.with-content {
    background-image: url(/online-zoo/images/sectionPanda/giantPanda-xx-small.jpg);

    padding-top: calc(2.75rem + var(--headerHeight));
    padding-bottom: 2.6875rem;
  }

  .top-panda.without-content {
    min-height: 11.6875rem;

    background-position-x: -9.3125rem;
  }
}