@import url(/components/ButtonSliderNavigation/buttonSliderNavigation.css);

button.slider-navigation {
  position: absolute;
  top: calc(50% - 3.875rem / 2);
  border-radius: 50%;
}

button.slider-navigation.direction-left {
  left: calc(-1 * (3.875rem + 1.25rem));
}

button.slider-navigation.direction-right {
  right: calc(-1 * (3.875rem + 1.25rem));
}

@media screen and (max-width: 1399px) {
  button.slider-navigation.direction-left,
  button.slider-navigation.direction-right {
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
  }
  
  button.slider-navigation.direction-left {
    left: calc(-1 * (var(--petsCardWidth) - var(--buttonSliderNavigationWidth)));
  }

  button.slider-navigation.direction-right {
    right: calc(-1 * (var(--petsCardWidth) - var(--buttonSliderNavigationWidth)));
  } 
}

@media screen and (max-width: 991px) {
  button.slider-navigation.direction-left {
    left: calc(-1 * (var(--petsSliderContentColumnGap) + var(--buttonSliderNavigationWidth)));
  }

  button.slider-navigation.direction-right {
    right: calc(-1 * (var(--petsSliderContentColumnGap) + var(--buttonSliderNavigationWidth)));
  }
}