.section-backstage {
  margin-top: 8.75rem;
}

.section-backstage::after {
  content: '';

  width: 12.75rem;
  height: 38.3125rem;
  position: absolute;
  right: 0;
  top: -7.9375rem; 

  background-image: url(../../images/sectionBackstage/flowers.png);
  background-repeat: no-repeat;
}

.section-backstage .backstage-wrapper {
  display: flex;
  gap: 5.4375rem;
  justify-content: stretch;
}

.section-backstage .backstage-wrapper img {
  height: 100%;
}

.section-backstage .backstage-wrapper .block-description {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;

  z-index: 1;
}

.section-backstage .backstage-wrapper .title p {
  line-height: 130%;
}

.section-backstage .backstage-wrapper h2 {
  font-size: 3rem;
  margin-bottom: 1.4375rem;
  line-height: 120%;
}

.section-backstage .backstage-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 2.0625rem;
  line-height: 120%;
}

.section-backstage .backstage-wrapper .extra-info p {
  line-height: 140%;
}

@media screen and (max-width: 1399px) {
  .section-backstage::after {
    content: none;
  }
}

@media screen and (max-width: 1199px) {
  .section-backstage {
    margin-top: 6.25rem;
  }

  .section-backstage .backstage-wrapper {
    gap: 1.9375rem;
  }

  .section-backstage .backstage-wrapper img {
    width: 28.4375rem;
    height: 25.5rem;

    object-fit: cover;

    margin-top: 0.5625rem;
  }
}

@media screen and (max-width: 991px) {
  .section-backstage {
    margin-top: 3.75rem;
  }

  .section-backstage::after {
    content: '';

    width: 12.75rem;
    top: -4.0625rem;
  }

  .section-backstage .backstage-wrapper {
    max-width: calc(100% - 12.75rem);
  }

  .section-backstage .backstage-wrapper img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section-backstage::after {
    content: '';
    background-image: url(../../images/sectionBackstage/flowers-small.png);
    width: 8.25rem;
    top: -3.75rem;
    height: 30.25rem;
  }

  .section-backstage .backstage-wrapper {
    max-width: 30.9375rem;

    padding-left: 0.4375rem;
  }

  .section-backstage .backstage-wrapper .block-description {
    gap: 1.875rem;
  }

  .section-backstage .backstage-wrapper h3 {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 639px) {
  .section-backstage .backstage-wrapper {
    max-width: calc(100% - 8.25rem);
  }
}

@media screen and (max-width: 575px) {
  .section-backstage {
    margin-top: 1.875rem;
  }

  .section-backstage::after {
    background-image: url(../../images/sectionBackstage/flowers-extra-small.png);
    
    width: 2.1875rem;
    height: 14.0625rem;

    top: -1.875rem;
  }

  .section-backstage .backstage-wrapper {
    max-width: calc(100% - 1.5625rem);

    padding-left: 0;
  }

  .section-backstage .backstage-wrapper .block-description {
    gap: 1.25rem;
  }

  .section-backstage .backstage-wrapper h2,
  .section-backstage .backstage-wrapper h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 399px) {
  .section-backstage::after {
    top: -3.75rem;
  }
}

@media screen and (max-width: 370px) {
  .section-backstage .backstage-wrapper {
    max-width: calc(100% - 0.4375rem);
  }
}